
#example1 {
  display : flex;
  flex-flow : row wrap;
  background-color : #000000;
  width : 50%;
  height : 30%;
  justify-content : space-around
}

#div1, #div2, #div3 {
  background-color : #ffffff;
  width : 40%;
  border-color : #000044;
  margin : 5px;
   
}

#example2 {
  display : flex;
  flex-flow : row wrap;
  background-color : #000000;
  width : 80%;
  height : 40%;
  justify-content : space-around

}
