
#example1 {
  display : flex;
  flex-flow : row wrap;
  background-color : #000000;
  width : 50%;
  height : 30%;
  justify-content : space-around;
  margin : 5px
}

#div1, #div2, #div3 {
  background-color : #ffffff;
  width : 40%;
  border-color : #000044;
  margin : 5px;
   
}

#example2 {
  display : flex;
  flex-flow : row wrap;
  background-color : #000000;
  width : 90%;
  height : 40%;
  justify-content : space-around;
  margin : 5px

}

.matrix_row {
  display : flex;
  flex-flow : row wrap;
  background-color : #000000;
  width : 90%;
  height : 30%;
  border-color : #000044;
  margin : 5px;
  justify-content : space-around
}

.matrix_element {
  background-color : #ffffff;
  width : 20%;
  height : 50%;
  border-color : #000044;
  margin : 5px;
}
